/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #191919;
}

img {
    width: 200px;
}